*.exe
*.o
*.lib
*.a
*.dll
*.def
*.dep
*.bin
*.obj
*.exp

*.cfg
*.json
*.zip
*.7z

*.log
*.tlog
*.idb
*.pdb

*.cbp
*.layout
*.depend
*.mk
*.project
*.workspace
Makefile

*.sdf
*.sln
*.suo
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vs/

*/CMakeFiles/*
CMakeCache.txt
*.cmake

.build-debug/*
.codelite/*

Debug/*
Release/*

